<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>    
    <a href="{% url 'signup' %}">SignUp</a>
    <a href="{% url 'login' %}">Login</a>
    <h1> Apis:- </h1>

    <a href="{% url 'create-poster-by-admin' %}">create-poster-by-admin</a><p>
    <a href="{% url 'update-poster-by-admin' %}">update-poster-by-admin</a><p>
    <a href="{% url 'get-poster-by-admin' %}">get-poster-by-admin</a><p>


</body>
</html>